# allow all except those indicated here "FOR ATTACKERS"
<Files *>
order allow,deny
allow from all
deny from 27.159.206.135
</Files>

RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule  ^reservation_report/([a-zA-Z0-9_-]+)/([0-9_-]+)/([0-9_-]+)/$       index.php?section=reservation_report&part=$1&from=$2&to=$3  [L]
RewriteRule  ^reservation_report/([a-zA-Z0-9_-]+)/([0-9_-]+)/([0-9_-]+)$        index.php?section=reservation_report&part=$1&from=$2&to=$3 [QSA,L]
RewriteRule  ^reservation_report/([a-zA-Z0-9_-]+)/$								index.php?section=reservation_report&part=$1  [L]
RewriteRule  ^reservation_report/([a-zA-Z0-9_-]+)$								index.php?section=reservation_report&part=$1 [QSA,L]

RewriteRule  ^myreservation/room/([a-zA-Z0-9_-]+)/$								index.php?section=index&roomid=$1 [L]
RewriteRule  ^myreservation/room/([a-zA-Z0-9_-]+)$								index.php?section=index&roomid=$1 [QSA,L]

RewriteRule  ^reservation/room/([a-zA-Z0-9_-]+)/$								index.php?section=reservation&roomid=$1 [L]
RewriteRule  ^reservation/room/([a-zA-Z0-9_-]+)$								index.php?section=reservation&roomid=$1 [QSA,L]

RewriteRule  ^(reset)/([a-zA-Z0-9_-]+)/$										index.php?section=view&part=$1&nameid=$2 [L]
RewriteRule  ^(reset)/([a-zA-Z0-9_-]+)$											index.php?section=view&part=$1&nameid=$2 [QSA,L]

RewriteRule  ^(room|location|reservation|reserve|user)/([a-zA-Z0-9_-]+)/$		index.php?section=view&part=$1&id=$2 [L]
RewriteRule  ^(room|location|reservation|reserve|user)/([a-zA-Z0-9_-]+)$		index.php?section=view&part=$1&id=$2 [QSA,L]

RewriteRule  ^(profile|forgot)/$												index.php?section=view&part=$1 [L]
RewriteRule  ^(profile|forgot)$													index.php?section=view&part=$1 [QSA,L]

RewriteRule  ^([a-zA-Z0-9_-]+)/page/([0-9]+)/$									index.php?section=$1&page=$2 [L]
RewriteRule  ^([a-zA-Z0-9_-]+)/page/([0-9]+)$									index.php?section=$1&page=$2 [QSA,L]
RewriteRule  ^([a-zA-Z0-9_-]+)/$												index.php?section=$1 [L]
RewriteRule  ^([a-zA-Z0-9_-]+)$													index.php?section=$1 [QSA,L]